In [4]:
pip install nltk

Collecting nltk
  Using cached nltk-3.7-py3-none-any.whl (1.5 MB)
Requirement already satisfied: click in /opt/homebrew/Caskroom/miniforge/base/envs/tensorflow/lib/python3.9/site-packages (from nltk) (8.0.4)
Collecting regex>=2021.8.3
  Downloading regex-2022.9.13-cp39-cp39-macosx_11_0_arm64.whl (287 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 287.2/287.2 kB 2.6 MB/s eta 0:00:00a 0:00:01
Requirement already satisfied: tqdm in /opt/homebrew/Caskroom/miniforge/base/envs/tensorflow/lib/python3.9/site-packages (from nltk) (4.64.0)
Requirement already satisfied: joblib in /opt/homebrew/Caskroom/miniforge/base/envs/tensorflow/lib/python3.9/site-packages (from nltk) (1.1.0)
Installing collected packages: regex, nltk
Successfully installed nltk-3.7 regex-2022.9.13
Note: you may need to restart the kernel to use updated packages.

In [12]:
import numpy as np
import pandas as pd

In [5]:
train_corpus = pd.read_csv('project2/project2_training_data.txt', delimiter='\n', header=None,names=['sentences'])

In [6]:
train_corpus

                                              sentences
0     Merrill Lynch analyst Campbell Morgan upgraded...
1     Eriikka S+Âderstr+Âm has previously held sever...
2     The webcast may be followed online on the comp...
3     Typical end-uses include roof structures , flo...
4     The sale will be finalized in September or Oct...
...                                                 ...
1806  With this appointment Kaupthing Bank aims to f...
1807  Jon Risfelt has previously held operational ex...
1808  The group intends to relocate warehouse and of...
1809  The contract includes software licences , appl...
1810  The contract covers the manufacturing , surfac...

[1811 rows x 1 columns]

In [7]:
train_labels = pd.read_csv('project2/project2_training_data_labels.txt', delimiter='\n', header=None, names=['labels'])

In [10]:
train_labels

        labels
0     positive
1      neutral
2      neutral
3      neutral
4      neutral
...        ...
1806  positive
1807   neutral
1808   neutral
1809   neutral
1810   neutral

[1811 rows x 1 columns]

In [9]:
train_labels.value_counts()

labels
neutral     1113
positive     456
negative     242
dtype: int64

In [14]:
df = pd.concat([train_corpus, train_labels], axis=1)

In [20]:
pd.set_option('max_colwidth', 600)    
df[df['labels']=='negative']

,sentences,labels
19,"However , the growth margin slowed down due to the financial crisis .",negative
23,"ADPnews - Feb 5 , 2010 - Finnish real estate investor Sponda Oyj HEL : SDA1V said today that it slipped to a net loss of EUR 81.5 million USD 11.8 m in 2009 from a profit of EUR 29.3 million in 2008 .",negative
26,"Alma Media 's operating profit amounted to EUR 11.9 mn , down from EUR 15.0 mn a year earlier .",negative
29,"Operating result showed a loss of EUR 2.9 mn , while a year before , it showed a profit of EUR 0.6 mn .",negative
44,The fair value of the company 's investment properties went down to EUR 2.768 billion at the end of 2009 from EUR 2.916 billion a year earlier .,negative
...,...,...
1756,Consolidated operating profit from continuing operations decreased by 62.3 % to EUR 51.2 mn from EUR 135.7 mn in 2007 .,negative
1764,"Salcomp Oyj , the Finnish maker of mobile phone chargers , Monday posted a EUR1 .49 million loss in the second quarter compared with a 1.70 million profit in the same period the previous year .",negative
1767,Net sales dropped by 6 % year-on-year to EUR 11.9 million .,negative
1773,Finnish business software group AffectoGenimap Oyj said its net profit halved to 1.2 mln euro ( $ 1.5 mln ) in the first nine months of 2006 from 2.2 mln euro ( $ 2.8 mln ) in the same period of 2005 .,negative
1793,"The company 's profit before taxes fell to EUR 21.1 mn in the third quarter of 2008 , compared to EUR 35.8 mn in the corresponding period in 2007 .",negative

### Pre-processing

In [21]:
from nltk.tokenize import word_tokenize, sent_tokenize, wordpunct_tokenize, TreebankWordTokenizer, TweetTokenizer, MWETokenizer
from nltk.corpus import stopwords
from nltk import ngrams
from nltk.stem import WordNetLemmatizer
from nltk.stem import PorterStemmer

In [22]:
text='This is an elective course'

text.split()

# text="Let me know your mobile#, if that's fine. The call rate is 1.2p/s 😊️."

# print(word_tokenize(text))

['This', 'is', 'an', 'elective', 'course']

In [23]:
word_tokenize(text)

['This', 'is', 'an', 'elective', 'course']